.skills {
	display: flex;
	width: 90%;
	justify-content: center;
}

.skillList {
	display: flex;
	flex-wrap: wrap;
	margin: 0em 5em;
}

.skillList ul {
	display: block;
	text-align: left;
	list-style: circle;
	color: #cad2c5;
}
.resumeLink button {
	margin-left: 10%;
}
